<header>
	<nav class="navbar navbar-default ">
		<div class="container-fluid">
			<div class="navbar-header">
				<a id="home"  href="" routerLink="/home">Quentin Agneray</a>
				<a href="" routerLink="/about">About</a>
				<a href="" routerLink="/login">Login In</a>
				<a href="" routerLink="/configuration">Configuration</a>
			</div>
		</div>
	</nav>
</header>
<main>
	<router-outlet></router-outlet>
</main>
<footer>
	<nav class="navbar navbar-default navbar-fixed-bottom">
		<div class="container-fluid">
			<div class="navbar-footer">
			</div>
		</div>
	</nav>
</footer>
